.mainData{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.container-fluid{
    margin-top: 50px;
    margin-left: 100px;
}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #000000;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
